h4 {
    text-align: center !important;
    font-size: 20px !important;
    font-family: cursive !important;
}

.form-group {
    margin-bottom: 0px !important;
}

#sub-header-imageTo {
    margin-left: 13%;
    font-family: cursive !important;
    margin-top: 45px;
}

.myContainer {
    width: 30%;
    margin-left: 2%;
}

.form-group {
    margin-top: 3px;
}

#sub-header-txtTo {
    font-family: cursive !important;
    margin-left: 36%;
}

.part2{
    margin-top:250px;
}

/*input[type="radio"].first-radio {
    margin-left: 50px;
}

#image-to {
    width: 30%;
    height: 34px;
    margin-left: 2%;
    margin-bottom:0px !important;
}


.image-to {
    margin-left: 17% !important;
    margin-top: 7px !important;
}

.first-radio {
    margin-left: 2px !important;
}

#submit_btn{
    padding:5px 11px;
}*/
input {
    cursor:pointer;
}
